name: DIME Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [x86, x64, ARM64EC]
        configuration: [Debug, Release]
    steps:
      - uses: actions/checkout@v4
      - name: Build & Run Tests
        run: |
          msbuild DIME.sln /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}
          vstest.console.exe bin\${{ matrix.platform }}\${{ matrix.configuration }}\DIMETests.dll /logger:trx
      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.platform }}-${{ matrix.configuration }}
          path: TestResults/*.trx
